#avatar-thumbnail {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 20%;
    border: 1px solid #eee;
 }

 #avatar-image {
    height: 250px;
    width: 250px;
    object-fit: cover;
    border-radius: 20%;
    border: 1px solid #eee;
 }
 #post-thumbnail {
    height: 250px;
    width: 250px;
    object-fit: cover;
    border-radius: 20%;
    border: 1px solid #eee;
 }
 #post-image {
    height: 250px;
    width: 250px;
    object-fit: cover;
    border-radius: 20%;
    border: 1px solid #eee;
 }